# Virtualenv
bin/
lib/
include/
share/
src/

# Pycharm
.idea/

# Python
*.pyc

# Notes
notes/output/

# Doc
doc/build/

# Heavy data
data/*.n3
data/*.rdf

# IPython
.ipynb_checkpoints/

# temporary files
*~
