rdflib
psycopg2
decorator

docopt

-e git+https://github.com/vincent-octo/sutils.git@master#egg=sutils
-e git+https://github.com/vincent-octo/ktbs_bench_manager.git@master#egg=ktbs_bench_manager

# Comment the following lines if you don't want to install extra dependencies to run the examples
pandas
numpy
matplotlib
dateutil
